@model IEnumerable<Loja.Models.Produto>

@{
    ViewBag.Title = "Minha Loja";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Aqui vai algum texto.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        @foreach (var item in Model)
        {
            <div class="card mb-4 box-shadow">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Nome)</div>
                <div class="card-body">
                    <p>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </p>
                    <h5 class="card-title pricing-card-title">R$ @Html.DisplayFor(modelItem => item.PrecoVenda)</h5>
                    <button onclick="location.href='@Url.Action("Details", "Produto", new {id = item.ProdutosID })'" class="btn btn-lg btn-block btn-outline-primary">Comprar</button>
                </div>
            </div>
        }
    </div>
</div>